.light-mode{
    color: black;
}

.white-font{
    color: white;
}

.bluening{
    background-color: blue;
}


.pekpek{
    font-size: 40px;
}

.darkening{
    background-color: black;
}